body {
    position: relative;
    text-align: center;
}

.contact {
    color: rgb(255, 0, 0);
}

.container  {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
}